@model EmpMVC.Models.Emp

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<div>
    <h4>Emp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aadhaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aadhaar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
